.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 200px;
}

.category_box {
    padding: 32px;
    background-color: #eeeeee;
}
