<div class="container">
    <div class="row">

      <app-question-form [categories]="categories" class="width-100"></app-question-form>

      <div id="faq" class="width-100">
        <!-- Category -->
        <div class="card"  *ngFor="let category of categories">
          <div class="card-header width-100">
            <h5 class="mb-0">
              <button 
                class="btn btn-secondary btn-lg btn-block" 
                type="button" 
                data-toggle="collapse" 
                [attr.data-target]="'#category-collapse-' + category.categoryId">
                {{ category.name }}
              </button>
            </h5>
          </div>
      
          <div id="category-collapse-{{ category.categoryId }}" class="collapse" data-parent="#faq">
            <!-- No questions message -->
            <div class="card-body" *ngIf="category.questions.length < 1; else questionsBox">
              <p>Fant ingen spørsmål. Fyll ut spørsmål sjemaet øverst på siden hvis du ønsker svar på noe.</p>
            </div>
            <!-- Questions of a category -->
            <ng-template #questionsBox>
              <div class="card-body">
                <div id="category-{{category.categoryId}}-questions" class="width-100">
                  <div class="card" *ngFor="let question of category.questions">
                    <div class="card-header width-100">
                      <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <button class="btn btn-link"
                        type="button" 
                        data-toggle="collapse" 
                        [attr.data-target]="'#question-' + question.questionId">
                        {{ question.message }}
                        </button>
                        <p style="margin-bottom: 0;">
                          <button (click)="like(question.questionId)" type="button" class="btn btn-light">
                            <span class="oi oi-thumb-up" id="question-{{ question.questionId }}-likes">{{ question.likes }}</span> 
                          </button>
                          <button (click)="dislike(question.questionId)" type="button" class="btn btn-light">
                            <span class="oi oi-thumb-down" id="question-{{ question.questionId }}-dislikes">{{ question.dislikes }}</span>
                          </button>
                        </p>
                      </div>
                    </div>
                    <!-- Answer to question -->
                    <div 
                      id="question-{{ question.questionId }}" 
                      class="collapse" 
                      [attr.data-parent]="'#category-' + category.categoryId + '-questions'">
                      <div class="card-body">
                        <p *ngIf="question.answer == ''; else answerBox">Ingen svar på dette spørsmålet</p>
                        <ng-template #answerBox>
                          <p>
                            {{ question.answer }}
                          </p>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
</div>